* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	color: #acbbe1;
	background-color: #242933;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.3;

	display: flex;
	flex-direction: column;
	align-items: center;
}

h1{
	margin-bottom: 40px;
}

.card{
	text-align: left;
	background-color: #2f3644;
	border: 1px solid #3f445b;
	border-radius: 7px;
	width: 30%;
	margin: 40px 0;
	padding: 50px;
}

form{
	display: block;
	background-color: #2f3644;
	border: 1px, solid #D6D9DC;
	border-radius: 3px;
	width: 100%;
	padding: 10px;
	margin: 0 0 40px 0;
}
label{
	margin-bottom: 5px;
}
.brillo{
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
	background: white;
	padding: 0.25em 1em;
	border-radius: 3px;
	/* margin-bottom: 15px; */
	padding: 7px;
}

.brillo.valid{
	border-style: solid;
	border-color: green;
	border-width: medium;
	/* box-shadow: 0 0 10px green; */
}

.brillo.error{
	border-style: solid;
	border-color: rgb(188, 47, 47);
	border-width: medium;
	/* box-shadow: 0 0 10px red; */
}

.brillo.valid img[class="icon-ok"]{
	display: inline-block;
}

.brillo.error img[class="icon-no"]{
	display: inline-block;
}

input:placeholder-shown ~ img[class="icon-ok"]{
	display: none;
}

.brillo img{
	display: none;
}

#nombre,
#email,
#password,
#confirm-password{
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	/* margin-bottom: 10px; */
}

.img{
	margin: 0 0 0 1em;
}

p{
	color: rgb(143, 21, 21);
}

button{
	background-color: #6c63ff;
	border: none;
	/* border: 1px solid #D6D9DC; */
	border-radius: 3px;
	width: 100%;
	padding: 12px;
	font-size: 14px;
}
